<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>OnEquals Admin Users</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="shortcut icon" type="image/ico" th:href="@{/img/favicon.ico}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="block/block-header-autho.html :: header"></th:block>
</header>

<form id="form" th:action="@{/admin/employer/add}" method="post">
</form>
<input id='id' type='hidden' name='id' form='form'>

<div id="admin">
    <div id="sidebar">
        <div class="button">
            <a href="/admin/users">Користувачі</a>
        </div>
        <div class="button">
            <a href="/admin/vacancies">Вакансії</a>
        </div>
        <div class="button">
            <a href="/admin/resumes">Резюме</a>
        </div>
        <div class="button">
            <a href="/admin/cities">Країни та міста</a>
        </div>
        <div class="button">
            <a href="/admin/category">Категорії</a>
        </div>
        <div class="button">
            <a href="/admin/type">Тип зайнятості</a>
        </div>
        <div class="button active">
            <a>Роботодавці</a>
        </div>
        <div class="button">
            <a href="/admin/seeker">Шукачі</a>
        </div>
        <div class="button">
            <a href="/admin/file">Файли резюме</a>
        </div>
        <div class="button red-button">
            <span class="notification" th:if="${empTotal.size() != 0}" th:text="${empTotal.size()}"></span>
            <a href="/admin/approve/employer">Непідтверджені роботодавці</a>
        </div>
        <div class="button red-button">
            <span class="notification" th:if="${seekTotal.size() != 0}" th:text="${seekTotal.size()}"></span>
            <a href="/admin/approve/seeker">Непідтверджені шукачі</a>
        </div>
        <div class="button red-button">
            <span class="notification" th:if="${vacTotal.size() != 0}" th:text="${vacTotal.size()}"></span>
            <a href="/admin/approve/vacancy">Непідтверджені вакансії</a>
        </div>
        <div class="button red-button">
            <span class="notification" th:if="${resTotal.size() != 0}" th:text="${resTotal.size()}"></span>
            <a href="/admin/approve/resume">Непідтверджені резюме</a>
        </div>
        <div class="button red-button">
            <span class="notification" th:if="${path != 0}" th:text="${path}"></span>
            <a href="/admin/approve/file">Непідтверджені файли резюме</a>
        </div>
    </div>
    <div id="body">
        <h1>Роботодавці</h1>
        <h2>age - Скільки років компанії?</h2>
        <p>0: ми молода команда</p>
        <p>1: нам менше 1 року</p>
        <p>2: нам від 1 до 5 років</p>
        <p>3: нам більше 10 років</p>
        <h2>amount - Скільки працівників у команді?</h2>
        <p>0: немає ще</p>
        <p>1: 1 - 5</p>
        <p>2: 5 - 20</p>
        <p>3: 20 - 100</p>
        <p>4: більше 100</p>
        <p>5: більше 1000</p>
        <h2>size - Великі й відомі?</h2>
        <p>0: ні, ми щойно почали свою справу</p>
        <p>1: молоді та швидко розвиваємось</p>
        <p>2: так, працюємо в багатьох містах</p>
        <p>3: працюємо й поза Україною</p>
        <br/>
        <br/>
        <a href="#" class="first">Додати нового роботодавця &#10133;</a>
        <div class="table">
            <table border="1">
                <tr class="head">
                    <td class="id-head">id</td>
                    <td>username<span class="text-red">*</span></td>
                    <td>name<span class="text-red">*</span></td>
                    <td>email<span class="text-red">*</span></td>
                    <td>category<span class="text-red">*</span></td>
                    <td>city<span class="text-red">*</span></td>
                    <td>site</td>
                    <td>description<span class="text-red">*</span></td>
                    <td>age<span class="text-red">*</span></td>
                    <td>amount<span class="text-red">*</span></td>
                    <td>size<span class="text-red">*</span></td>
                    <td>facebook</td>
                    <td>instagram</td>
                    <td>linkedIn</td>
                    <td>twitter</td>
                    <td>approved</td>
                    <td class="but-head"><span>&nbsp;</span></td>
                    <td class="but-head"><span>&nbsp;</span></td>
                </tr>

                <tr class="hidden">
                    <td class="id"></td>
                    <td>
                        <div class="list" id="userList">
                            <input autocomplete="off" id="user" type="text" class="select-label" required>
                            <div class="select green" id="user-div">
                                <ul>
                                    <li th:each="u: ${user}">
                                        <div class="li" th:text="${u.getUsername()}"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td><input id="name" type="text" required></td>
                    <td><input id="email" type="text" required></td>
                    <td>
                        <div class="list" id="categoryList">
                            <input autocomplete="off" id="category" type="text" class="select-label" required>
                            <div class="select green" id="category-div">
                                <ul>
                                    <li th:each="c: ${category}">
                                        <div class="li" th:text="${c.getLongName()}"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="cityDiv">
                        <div class="list" id="cityList">
                            <input autocomplete="off" id="city" type="text" class="select-label" required>
                            <div class="select green" id="city-div">
                                <ul>
                                    <li th:each="c: ${city}">
                                        <div class="li" th:text="${c.getCity()}"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="addCity">&#10133;</a>
                    </td>
                    <td><input id="site" type="text"></td>
                    <td><input id="description" type="text" required></td>
                    <td><input id="age" type="text" required></td>
                    <td><input id="emp_count" type="text" required></td>
                    <td><input id="size" type="text" required></td>
                    <td><input id="link_facebook" type="text"></td>
                    <td><input id="link_instagram" type="text"></td>
                    <td><input id="link_linked_in" type="text"></td>
                    <td><input id="link_twitter" type="text"></td>
                    <td>
                        <select id="approved" name="approved">
                            <option value="false">Ні</option>
                            <option value="true">Так</option>
                        </select>
                    </td>
                    <td class="accept">&#10004;</td>
                    <td class="cancel">&#10060;</td>
                </tr>

                <tr th:if="${employer}" th:each="e, iStat: ${employer.content}">
                    <td class="id" th:text="${e.getId()}"></td>
                    <td class="user" th:text="${e.getUser().getUsername()}"></td>
                    <td class="name" th:text="${e.getName()}"></td>
                    <td class="email" th:text="${e.getEmail()}"></td>
                    <td class="category" th:text="${e.getCategory().getLongName()}"></td>
                    <td class="city">
                        <div th:each="c: ${e.getCity()}">
                            <div th:remove="tag" th:text="${c.getCity()}"></div>
                        </div>
                    </td>
                    <td class="site" th:text="${e.getSite()}"></td>
                    <td class="description" th:text="${e.getDescription()}"></td>
                    <td class="age" th:text="${e.getAge()}"></td>
                    <td class="emp_count" th:text="${e.getEmpCount()}"></td>
                    <td class="size" th:text="${e.getSize()}"></td>
                    <td class="link_facebook" th:text="${e.getLinkFacebook()}"></td>
                    <td class="link_instagram" th:text="${e.getLinkInstagram()}"></td>
                    <td class="link_linked_in" th:text="${e.getLinkLinkedIn()}"></td>
                    <td class="link_twitter" th:text="${e.getLinkTwitter()}"></td>
                    <td class="approved" th:if="${e.getApproved()}">Так</td>
                    <td class="approved" th:unless="${e.getApproved()}">Ні</td>
                    <td class="edit">&#9998;</td>
                    <td id="employer" class="delete">&#10060;</td>
                </tr>
                <tr class="clear">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td class="but-head"><span>&nbsp;</span></td>
                    <td class="but-head"><span>&nbsp;</span></td>
                </tr>
            </table>
        </div>
        <div id="paginations">
            <div th:if="${employer.totalPages > 0}" class="pagination"
                 th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/admin/employer(size=${employer.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==employer.number + 1} ? active"></a>
            </div>
        </div>
    </div>
</div>
<div id="accept-delete">
    <span>Ви впевнені, що хочете видалити цей запис назавжди?</span>
    <div class="buttons">
        <div class="button yes">Так</div>
        <div class="button no">Ні</div>
    </div>
</div>

<div class="backdrop"></div>

<script th:inline="javascript">
    var catList = []
    $("#categoryList .li").each(function () {
        catList.push($(this).text())
    })

    var cityList = []
    $("#cityList .li").each(function () {
        cityList.push($(this).text())
    })

    var userList = []
    $("#userList .li").each(function () {
        userList.push($(this).text())
    })

    var typeList = []
    $("#typeList .li").each(function () {
        typeList.push($(this).text())
    })

    console.log(userList)
</script>
<script src="/script/script.js"></script>
<script src="/script/script-list.js"></script>
<script src="/script/script-admin.js"></script>
<script src="/script/script-admin-city.js"></script>

</body>
</html>