<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>OnEquals Admin Users</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="/block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="/block/block-header-autho.html :: header"></th:block>
</header>

<form id="form" action="/admin/users/add" method="post">
</form>
<input id='id' type='hidden' name='id' form='form'>

<div id="admin">
    <div id="sidebar">
        <div class="button active">
            <a>Користувачі</a>
        </div>
        <div class="button">
            <a href="/admin/vacancies">Вакансії</a>
        </div>
        <div class="button">
            <a href="/admin/resumes">Резюме</a>
        </div>
        <div class="button">
            <a href="/admin/cities">Країни та міста</a>
        </div>
        <div class="button">
            <a href="/admin/category">Категорії</a>
        </div>
    </div>
    <div id="body">
        <h1>Користувачі</h1>
        <a href="#" class="first">Додати нового користувача &#10133;</a>
        <table border="1">
            <tr class="head">
                <td>id</td>
                <td>name</td>
                <td>username</td>
                <td>password</td>
                <td>roles</td>
                <td>blocked</td>
                <td></td>
                <td></td>
            </tr>

            <tr class="hidden">
                <td class="id"></td>
                <td><input id="name" type="text"></td>
                <td><input id="username" type="text"></td>
                <td><input id="password" type="text"></td>
                <td>
                    <select id="roles" name="roles">
                        <option value="SEEKER">Шукач</option>
                        <option value="EMPLOYER">Роботодавець</option>
                    </select>
                </td>
                <td>
                    <select id="blocked" name="blocked">
                        <option value="false">Ні</option>
                        <option value="true">Так</option>
                    </select>
                </td>
                <td class="accept">&#10004;</td>
                <td class="cancel">&#10060;</td>
            </tr>

            <tr th:if="${user}" th:each="u: ${user}">
                <td class="id" th:text="${u.getId()}"></td>
                <td class="name" th:text="${u.getName()}"></td>
                <td class="username" th:text="${u.getUsername()}"></td>
                <td class="password" th:text="${u.getPassword()}"></td>
                <td class="roles" th:text="${u.getRoles()}"></td>
                <td class="blocked" th:if="${u.getBlocked()}">Так</td>
                <td class="blocked" th:unless="${u.getBlocked()}">Ні</td>
                <td class="edit">&#9998;</td>
                <td id="users" class="delete">&#10060;</td>
            </tr>
        </table>
    </div>
</div>
<div id="accept-delete">
    <span>Ви впевнені, що хочете видалити цей запис назавжди?</span>
    <div class="buttons">
        <div class="button yes">Так</div>
        <div class="button no">Ні</div>
    </div>
</div>

<div class="backdrop"></div>


<script src="/script/script.js"></script>
<script src="/script/script-admin.js"></script>
</body>
</html>