#search-list{
    padding: 105px 0 0;
}

#category{
    width: calc(-346px + 51.3vw);
    padding-left: calc(-140px + 11.3vw);
    padding-right: calc(-120px + 12.5vw);
    text-align: left;
    float: right;
    box-sizing: border-box;
}

#category h3{
    font-size: 46px;
    margin-bottom: 63px;
}

#category label.checkbox{
     display: block;
     font-size: 32px;
     background: top 7px left 0 url(../images/check-box-0.png) no-repeat;
     background-size: 30px auto;
     padding-left: 68px;
     cursor: pointer;
     margin-bottom: 9px;
     min-height: 74px;
 }

#category label.checkbox:last-of-type{
    margin-bottom: 45px;
}

#category input[type=checkbox]{
    display: none;
    margin: 0;
    padding: 0;
}

#category input:checked + label.checkbox{
    background: top 7px left 0 url(../images/check-box.png) no-repeat;
    background-size: 30px auto;
}

#category input[type=range]{
    width: 100%;
    margin-bottom: 66px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
}

#category span{
    font-size: 22px;
    color: #999999;
}


#category input[type=range]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    background-color: #999999;
    height: 2px;
}

#category input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #509FC8;
    border-radius: 50%;
    margin-top: -21px;
    height: 40px;
    width: 40px;
}

#category input[type=range]::-moz-range-track {
    background-color: #999999;
    height: 2px;
}

#category input[type=range]::-moz-range-thumb {
    border: none;
    background: #509FC8;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#category input[type=range]::-ms-thumb {
    border: none;
    background: #509FC8;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
#category input[type=range]::-ms-track {
    background-color: #999999;
    height: 2px;
}

#category .input{
    position: relative;
    font-size: 32px;
    width: 100%;
}

#category .input label{
    position: absolute;
    transform: translate(-50%, 0);
    top: -55px;
}



#sort{
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    margin-left: 60px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    font-size: 32px;
    height: 200px;
    box-sizing: border-box;
    width: calc(281px + 48.8vw);
    float: left;
    justify-content: space-between;
}

#sort .summary{
    width: 20px;
    flex-grow: 1;
}

#sort .summary span{
    display: block;
    font-size: inherit;
}

#sort .sort-by{
    width: 20px;
    flex-grow: 1;
}

#sort h4{
    color: #999999;
    font-size: 22px;
    margin-bottom: 25px;
}

#sort h4.sort{
    padding: 0 7px;
}

#sort .buttons{
    display: flex;
    justify-content: space-between;
    font-size: inherit;
    padding-right: calc(-159px + 16.3vw);
}

#sort input[type=radio]{
    display: none;
}

#sort input[type=radio] + label{
    font-size: inherit;
    padding: 0 7px;
}

#sort input[type=radio]:checked + label{
    background-color: #FED849;
    border-radius: 100px;
}


#vacancies{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: calc(341px + 48.8vw);
    float: left;
    padding-left: 60px;
}

#vacancies .vacancy h3{
    font-size: 46px;
    margin-bottom: 40px;
}

#vacancies .vacancy{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    padding: 51px 0 55px;
    box-sizing: border-box;
}

#vacancies .vacancy .text ul{
    display: flex;
    flex-direction: column;
}

#vacancies .vacancy .text li{
    border-bottom: 2px solid black;
    width: calc(389px + 10vw);
    font-size: 32px;
    margin-bottom: 11px;
    padding: 0 0 10px;
}

#vacancies .vacancy .text li:last-child{
    margin-bottom: 0;
}

#vacancies .vacancy .text .hide{
    padding-top: 29px;
    font-size: 22px;
    color: #999999;
}


#vacancies .vacancy .buttons{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: start;
    padding-left: calc(-8px + 8.3vw);
    align-content: space-between;
    max-height: calc(179px + 5vw);
}

#vacancies .vacancy .buttons div{
    width: calc(76px + 2.5vw);
    height: calc(76px + 2.5vw);
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

#vacancies .vacancy .buttons div img{
    width: calc(33px + 0.6vw);
    height: auto;
}

#vacancies .vacancy .buttons .eye{
    border: 4px solid black;
}

#vacancies .vacancy .buttons .eye img{
    width: calc(31px + 1vw);
    height: auto;
}

#vacancies .vacancy .buttons .heart{
    background-color: #F98DC0;
}

#vacancies .vacancy .buttons .mail{
    background-color: #509FC8;

}
