@media screen and (max-width: 1440px) {

    #sign {
        width: calc(-646px + 120.9vw);
        padding: calc(136px - 2.9vw) 0 0;
    }

    #sign.upp {
        width: calc(-646px + 120.9vw);
    }

    #sign .form.up .column-1, #sign .form.up .column-2{
        width: calc(737px - 14.2vw);
        height: 240px;
    }

    #sign .form.in {
        height: calc(296px - 3.4vw);
    }

    #sign .pass .image img {
        width: 55px;
    }

    #sign-button .sign-in, .account{
        width: calc(995px - 24.3vw);
    }

    #sign-button{
        margin: calc(52px + 2.1vw) calc(333px - 19vw) calc(195px - 6vw);
    }

    #sign a {
        margin-top: calc(8px + 2.4vw);
    }
}

@media screen and (max-width: 1420px) {
    #sign .form.up {
        flex-direction: column;
        align-items: center;
    }

    #sign .form.up .column-2{
        margin-top: 44px;
    }
}

@media screen and (max-width: 1280px) {
    #sign-button{
        flex-direction: column;
        align-items: center;
    }

    #sign-button .account{
        margin-top: 54px;
    }
}

@media screen and (max-width: 1024px) {

    #sign .form.up .column-1, #sign .form.up .column-2{
        width: 100%;
        height: calc(116px + 12vw);
    }

    #sign, #sign.upp {
        width: 590px;
        padding: 107px 0 0;
    }

    #sign-button{
        margin: 90px 60px calc(266px - 12.9vw);
        font-size: 42px;
    }

    #sign .form.in {
        height: calc(82px + 17.6vw);
    }

    #sign .pass .image img {
        width: 49px;
    }

    #sign .pass .image {
        padding-right: 28px;
    }

    #sign .form .pass input, #sign .form input {
        height: calc(34px + 6.3vw);
    }

    #sign-button .sign-in, .account{
        width: calc(591px + 15.2vw);
    }

    #sign a {
        margin-top: 33px;
    }
}

@media screen and (max-width: 768px) {

    #sign .form.up .column-1, #sign .form.up .column-2{
        height: calc(184px + 3.4vw);
    }

    #sign .form.up .column-2{
        margin-top: calc(28px + 2vw);
    }

    #sign, #sign.upp {
        width: calc(26px + 72.9vw);
        padding: calc(5px + 13.5vw) 0 0;
    }

    #sign .form.in {
        height: calc(177px + 5.2vw);
    }

    #sign .form .pass input, #sign .form input {
        height: 82px;
    }

    #sign-button{
        margin: calc(34px + 7.3vw) 60px calc(2px + 21.5vw);
        font-size: 42px;
    }

    #sign-button .sign-in, .account{
        width: calc(-60px + 100vw);
    }

    #sign-button .sign-in{
        height: calc(27px + 38.2vw);
    }

    #sign-button .account{
        height: calc(702px - 50vw);
        margin-top: calc(9px + 5.9vw);
    }

    #sign-button .account button{
        height: calc(331px - 25.3vw);
    }

    #sign .pass .image {
        padding-right: 19px;
    }

    #sign .pass .image img {
        width: calc(30px + 2.4vw);
    }

    #sign .form input {
        padding-left: calc(-22px + 7.6vw);
    }

    #sign a {
        font-size: calc(16px + 2vw);
    }
}

@media screen and (max-width: 480px) {

    #sign .form.up .column-1, #sign .form.up .column-2{
        height: calc(50px + 31.3vw);
    }

    #sign .form.up .column-2{
        margin-top: calc(14px + 5vw);
    }

    #sign .form input {
        padding-left: 15px;
        font-size: calc(-2px + 5vw);
    }

    #sign, #sign.upp {
        width: calc(10px + 76.3vw);
        padding: calc(10px + 12.5vw) 0 0;
    }

    #sign .form .pass input, #sign .form input {
        height: calc(16px + 13.8vw);
    }

    #sign .form.in {
        height: calc(46px + 32.5vw);
    }

    #sign a {
        margin-top: calc(-18px + 10.6vw);
        font-size: calc(2px + 5vw);
    }

    #sign .pass .image {
        padding-right: calc(9px + 2.5vw);
    }

    #sign .pass .image img {
        width: calc(6px + 7.5vw);
    }

    #sign-button{
        margin: calc(15px + 11.3vw) 60px calc(-18px + 25.6vw);
        font-size: 42px;
    }

    #sign-button .sign-in, .account{
        width: calc(30px + 81.3vw);
    }

    #sign-button .sign-in, #sign-button .account button{
        height: calc(30px + 37.5vw);
    }

    #sign-button .account{
        height: calc(66px + 82.5vw);
        margin-top: calc(1px + 7.5vw);
    }

    #sign-button{
        font-size: calc(12px + 6.2vw);
    }

}