<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" th:content="${_csrf.token}">
    <meta charset="UTF-8">
    <title>OnEquals Edit Sticker</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="block/block-header-autho.html :: header"></th:block>
</header>
<form id="pageForm" th:action="@{'/admin/sticker/edit/' + ${id}}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="data" id="data" required>
    <div id="admin">
        <div id="body">
            <h1>Редагування стікеру</h1>
            <br/>
            <h2>Минула картинка</h2>
            <img th:src="${imageURL}">
            <br/>
            <h2>Нова картинка</h2>
            <input type="file" name="image">
            <br/>
            <h2>Текст стікера (будь ласка, не вставляйте картинки)</h2>
            <textarea id="editor"></textarea>
            <br/>
            <input id="name-input" type="text" placeholder="Заголовок стікеру" name="title" th:value="${title}"
                   required/>
            <br/>
            <br/>
            <button id="publish">Підтвердити зміни</button>
        </div>
    </div>
</form>
<script th:inline="javascript">
    var longData = [[${data}]]
</script>
<script src="/script/script.js"></script>
<script src="/script/script-newpage.js"></script>
<script src="/script/script-editpage.js"></script>
<script src="/script/script-admin.js"></script>
</body>
</html>