<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" th:content="${_csrf.token}">
    <meta charset="UTF-8">
    <title>OnEquals Admin Users</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="block/block-header-autho.html :: header"></th:block>
</header>
<form id="pageForm" th:action="@{'/admin/page/edit/' + ${id}}" method="POST">
    <!--    <input type="hidden" name="id" id="id" th:value="${id}">-->
    <input type="hidden" name="data" id="data">
    <input type="hidden" name="shortData" id="shortData">
    <div id="admin">
        <div id="body">
            <textarea id="editor"></textarea>
            <textarea id="editor2"></textarea>
            <input type="text" placeholder="Назва сторінки" name="name" th:value="${name}" required/>
            <select name="label" required th:if="${label == 'Шукачам'}">
                <option selected>Шукачам</option>
                <option>Роботодавцям</option>
                <option>Законодавство</option>
            </select>
            <select name="label" required th:if="${label == 'Роботодавцям'}">
                <option>Шукачам</option>
                <option selected>Роботодавцям</option>
                <option>Законодавство</option>
            </select>
            <select name="label" required th:if="${label == 'Законодавство'}">
                <option>Шукачам</option>
                <option>Роботодавцям</option>
                <option selected>Законодавство</option>
            </select>
            <button id="publish">Підтвердити зміни</button>
        </div>
    </div>
</form>
<script th:inline="javascript">
    var longData = [[${data}]]
    var shortData = [[${shortData}]]
</script>
<script src="/script/script.js"></script>
<script src="/script/script-newpage.js"></script>
<script src="/script/script-editpage.js"></script>
<script src="/script/script-admin.js"></script>
</body>
</html>