<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" th:content="${_csrf.token}">
    <meta charset="UTF-8">
    <title>OnEquals Admin Users</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="block/block-header-autho.html :: header"></th:block>
</header>
<h2>Створення нової сторінки</h2>
<form id="pageForm" th:action="@{/admin/page/create}" method="POST">
    <input type="hidden" name="data" id="data">
    <div id="admin">
        <div id="body">
            <h3>Повний текст</h3>
            <textarea id="editor"></textarea>
            <br/>
            <h3>Короткий опис (до 500 символів)</h3>
            <textarea name="shortData" maxlength="500" required></textarea>
            <br/>
            <h3>Підпис статті</h3>
            <input id="author-input" type="text" placeholder="Наприклад: 'Авторка: Вікторія Павленко'" name="author" required/>
            <br/>
            <h3>Назва сторінки</h3>
            <input id="name-input" type="text" placeholder="Назва сторінки" name="name" required/>
            <br/>
            <select name="label" required>
                <option>Шукачам</option>
                <option>Роботодавцям</option>
                <option>Законодавство</option>
            </select>
            <br/>
            <button id="publish">Створити нову сторінку</button>
        </div>
    </div>
</form>
<script src="/script/script.js"></script>
<script src="/script/script-newpage.js"></script>
<script src="/script/script-admin.js"></script>
</body>
</html>