<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>OnEquals - Головна</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/news.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main-adapt.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/support.css">
    <link rel="stylesheet" href="css/menu.css">
</head>
<body>

<header>
    <th:block th:include="/block/block-header.html :: header"></th:block>
</header>

<noscript>
    Для повної функціональності цього сайту необхідно включити JavaScript.
    Ось <a href="https://www.enable-javascript.com/ru/" style="color: #2679ff">
    інструкції, як включити JavaScript у вашому браузері</a>.
</noscript>

<main>
    <div class="main__block">
        <div class="search">
            <form id="search" action="/vacancies/list">
                <label>
                    <input type="text" name="key_words" class="search_input" placeholder="Ключові слова">
                </label>
                <label>
                    <select form="search" name="specialization" class="search_input">
                        <option hidden disabled selected>Спеціалізація</option>
                        <option>IT</option>
                        <option>Освіта</option>
                        <option>Что-то там</option>
                        <option>Что-то там2</option>
                    </select>
                </label>
                <label>
                    <select form="search" name="town" class="search_input">
                        <option hidden disabled selected>Пошук за містом</option>
                        <option>Київ</option>
                        <option>Харків</option>
                        <option>Львів</option>
                        <option>Одеса</option>
                    </select>
                </label>
            </form>
        </div>
        <div class="main__button">
            <button form="search">Знайти!</button>
        </div>
<!--        <div class="lightnings">-->
<!--            <div class="lightning-2">-->
<!--                <img src="images/lightning-2.png" alt="lightning2">-->
<!--            </div>-->
<!--            <div class="lightning-1">-->
<!--                <img src="images/lightning-1.png" alt="lightning1">-->
<!--            </div>-->
<!--        </div>-->
    </div>


    <div class="main__place">
        <a href="/vacancies/add">
            <div class="smile-button left">
                <div class="smile-image left">
                    <img src="images/smile-1.png" alt="smile1">
                </div>
                <span>Розмістити вакансію</span>
            </div>
        </a>
        <a href="/resume">
            <div class="smile-button right">
                <div class="smile-image right">
                    <img src="images/smile-2.png" alt="smile2">
                </div>
                <span>Розмістити резюме</span>
            </div>
        </a>
    </div>


</main>


<div id="about">
    <div class="video">
        <iframe src="https://www.youtube.com/embed/34oTCkwwiNk"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>

    <div class="text">
        <span>
            Проєкт, який спрямований на збільшення статистики працевлаштування людей з інвалідністю в Україні у
            різноманітних сферах, відповідно до професійних якостей кандидатів та кандидаток.
        </span>
        <p>
            <a href="#">дізнатися більше →</a>
        </p>
    </div>
</div>


<div id="sticker-pack">

<!--    <div class="arrow-1">-->
<!--        <img src="images/arrow-1.png" alt="arrow1">-->
<!--    </div>-->
<!--    <div class="arrow-2">-->
<!--        <img src="images/arrow-2.png" alt="arrow2">-->
<!--    </div>-->
<!--    <div class="heart">-->
<!--        <img src="images/heart.png" alt="heart">-->
<!--    </div>-->

    <a href="#">
        <div class="button">
            <div>Завантажити стікерпак&nbsp<span class="underline">↓</span></div>
        </div>
    </a>
    <span class="text">
        Ми створили мотиваційний стікерпак для телеграму!
        Завантажуй і доповнюй його новими іменами!
    </span>
</div>


<div id="news">
    <div class="slideshow">
        <div class="switch-l">
            <img src="images/switch.png" alt="switch-left">
            <img src="images/switch-light.png" alt="switch-left">
        </div>
        <div class="posts">
            <div class="post active">
                <div class="post-img">
                    <img src="images/sticker-1-rotate.png" alt="post1">
                </div>
                <div class="post-text">
                    <h3>Ліна По</h3>
                    <br>
                    <p>Скульпторка, що створювала шедеври, будучи незрячою.</p>
                    <br>
                    <p>Переломним моментом став її 35 рік життя – зірка сцени тяжко захворіла. Лікарі врятували їй
                        життя, однак По назавжди втратила зір.</p>
                    <br>
                    <p>Ліпила жінка до останнього дня свого життя, захоплюючи вимогливих критиків, які ствердужвали, що
                        Ліні По були притаманні надзвичайна працелюбність, бажання залишатись в активному житті,
                        цілеспрямованість.</p>

                </div>
            </div>

            <div class="post">
                <div class="post-img">
                    <img src="images/sticker-2.png" alt="post2">
                </div>
                <div class="post-text">
                    <h3>Де5вочка</h3>
                    <br>
                    <p>Тут просто какой-то текс, не обращаем внимание</p>
                    <br>
                    <p>Пожалууйста)</p>
                </div>
            </div>
            <div class="post">
                <div class="post-img">
                    <img src="images/sticker-3.png" alt="post3">
                </div>
                <div class="post-text">
                    <h3>ВАНГА</h3>
                    <br>
                    <p>Когда-то вышел сериал про неё</p>
                    <br>
                    <p>Жаль, что не учавствовала в шоу "Битва экстрасенсов"</p>
                    <br>
                    <p>Не рклама. Честно</p>
                </div>
            </div>
        </div>
        <div class="switch-r">
            <img src="images/switch.png" alt="switch-right">
            <img src="images/switch-light.png" alt="switch-right">
        </div>
    </div>
</div>

<div id="support">
    <span>
        Якщо ви хочете підтримати ініціативу «На рівних», у вас є змога підключити щомісячний донат або одноразовий
        внесок за реквізитами на розвиток та роботу платформи або <a class="underline">придбати унікальний мерч</a>
        та допомогти в зборі коштів на сертифікати на навчання в різних сферах для людей з інвалідністю.
    </span>
    <div class="buttons">
        <div class="support-button">
            <div class="image">
                <img src="images/support-heart-1.png" alt="heart">
            </div>
            <span>Підключити щомісячний донат</span>
        </div>
        <div class="support-button">
            <div class="image">
                <img src="images/support-heart-2.png" alt="heart">
            </div>
            <span>Зробити одноразовий внесок</span>
        </div>
    </div>
    <p>
        Також ви можете долучитись до команди, ставши волонтером за такими напрямками:
        SMM, PR, Копірайтинг, Адміністрування, свої пропозиції.
    </p>
    <p>
        Якщо у вас виникли запитання або ви хочете долучитись до команди «На рівних», пишіть нам
        на пошту <a class="underline">on.equal.project@gmail.com</a> або у соціальні мережі в
        <a class="underline">фейсбук</a> та <a class="underline">інстаграм</a>.
    </p>
</div>

<footer>
    <ul>
        <li>
            <a href="https://www.facebook.com/onequals/">Facebook</a>
        </li>
        <li>
            <a href="#">Instagram</a>
        </li>
        <li>
            <a href="#">E-mail</a>
        </li>
    </ul>
        <div class="ukf">
            <div class="image">
                <img src="images/ukf.png" alt="ukf">
            </div>
            <div class="text">
                <p>За підтримки Українського культурного фонду</p>
            </div>
        </div>
        <div class="scroll">
            на початок ↑
        </div>
</footer>

<script src="script/script.js"></script>
<script src="script/script-up.js"></script>
<script src="script/script-sticker.js"></script>
<script src="script/script-slideshow.js"></script>
</body>
</html>