<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>OnEquals - Журнали роботодавцям</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/journals.css">
    <link rel="stylesheet" href="/css/journals-decor.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="block/block-header-autho.html :: header"></th:block>
</header>

<div id="top" class="yellow">
    <h2>Журнал</h2>
    <span>Роботодавцям</span>
    <img class="img3" src="/images/journals-2.png">
    <img class="img4" src="/images/star-4.png">
</div>

<div id="tile" th:if="${page}">
    <h2>Доступність</h2>
    <div class="container">
        <a th:onclick="'javascript: setPosition()'" th:if="${currentPage > 1}" th:href="@{/journal/employer(page=${currentPage - 1})}">
            <div class="block prev-page" id="grey" th:if="${totalPages > 1}">
                Попередня сторінка...
            </div>
        </a>
        <a th:onclick="'javascript: setPosition()'" th:if="${currentPage <= 1}" th:href="@{/journal/employer(page=${totalPages})}">
            <div class="block prev-page" id="grey" th:if="${totalPages > 1}">
                Попередня сторінка...
            </div>
        </a>
        <div th:each="p: ${page}" th:remove="tag">
            <a th:href="@{'/pages/' + ${p.id}}">
                <div class="block" id="grey" th:text="${p.name}">
                </div>
            </a>
        </div>
        <a th:onclick="'javascript: setPosition()'" th:if="${totalPages > currentPage}" th:href="@{/journal/employer(page=${currentPage + 1})}">
            <div class="block next-page" id="grey" th:if="${totalPages > 1}">
                Наступна сторінка...
            </div>
        </a>

        <a th:onclick="'javascript: setPosition()'" th:if="${totalPages <= currentPage}" th:href="@{/journal/employer(page=1)}">
            <div class="block next-page" id="grey" th:if="${totalPages > 1}">
                Наступна сторінка...
            </div>
        </a>

    </div>
</div>

<div id="tile" th:if="${pageAdvice}">
    <h2>Поради</h2>
    <div class="container">
        <a th:onclick="'javascript: setPosition()'" th:if="${currentPageAdvice > 1}" th:href="@{/journal/employer(pageAdvice=${currentPageAdvice - 1})}">
            <div class="block prev-page" id="grey" th:if="${totalPagesAdvice > 1}">
                Попередня сторінка...
            </div>
        </a>
        <a th:onclick="'javascript: setPosition()'" th:if="${currentPageAdvice <= 1}" th:href="@{/journal/employer(pageAdvice=${totalPagesAdvice})}">
            <div class="block prev-page" id="grey" th:if="${totalPagesAdvice > 1}">
                Попередня сторінка...
            </div>
        </a>
        <div th:each="p: ${pageAdvice}" th:remove="tag">
            <a th:href="@{'/pages/' + ${p.id}}">
                <div class="block" id="grey" th:text="${p.name}">
                </div>
            </a>
        </div>
        <a th:onclick="'javascript: setPosition()'" th:if="${totalPagesAdvice > currentPageAdvice}" th:href="@{/journal/employer(pageAdvice=${currentPageAdvice + 1})}">
            <div class="block next-page" id="grey" th:if="${totalPagesAdvice > 1}">
                Наступна сторінка...
            </div>
        </a>

        <a th:onclick="'javascript: setPosition()'" th:if="${totalPagesAdvice <= currentPageAdvice}" th:href="@{/journal/employer(pageAdvice=1)}">
            <div class="block next-page" id="grey" th:if="${totalPagesAdvice > 1}">
                Наступна сторінка...
            </div>
        </a>

    </div>
</div>

<script src="/script/script.js"></script>
<script src="/script/script-journal-position.js"></script>
<script src="/script/script-journals.js"></script>
</body>
</html>