<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="0fSBtiU-hv1QN01GBf3CGDPCITj1LSSd0vjqBajPjU0"/>
    <title>OnEquals</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/news.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main-adapt.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/support.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="/css/index-decor.css">
</head>
<body>

<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="block/block-header-autho.html :: header"></th:block>
</header>
<noscript>
    Для повної функціональності цього сайту необхідно включити JavaScript.
    Ось <a href="https://www.enable-javascript.com/ru/" style="color: #2679ff">
    інструкції, як включити JavaScript у вашому браузері</a>.
</noscript>
<main>
    <div class="main__block">
        <div class="search">
            <form style="display: none" sec:authorize="!hasAuthority('EMPLOYER') && !hasRole('EMPLOYER')" id="search"
                  method="get" th:action="@{/vacancy/list}">
            </form>

            <form style="display: none" sec:authorize="hasAuthority('EMPLOYER') || hasRole('EMPLOYER')" id="search"
                  method="get" th:action="@{/resume/list}">
            </form>
            <form>
                <label>
                    <input form="search" type="text" name="key_words" class="search_input" placeholder="Ключові слова">
                </label>
                <label id="catList">
                    <div class="list" id="categoryList">
                        <input form="search" autocomplete="off" id="category" type="text" class="select-label"
                               placeholder="Спеціалізація" name="catString">
                        <div class="select green" id="category-div">
                            <ul>
                                <li th:each="c: ${category}">
                                    <div class="li" th:text="${c.getLongName()}"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </label>
                <label id="citList">
                    <div class="list" id="cityList">
                        <input form="search" autocomplete="off" name="citString" id="city" type="text"
                               class="select-label"
                               placeholder="Пошук за містом">
                        <div class="select" id="city-div">
                            <ul>
                                <li th:each="c: ${city}">
                                    <div class="li" th:text="${c.getCity()}"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </label>
            </form>
        </div>
        <div class="main__button">
            <button form="search">Знайти!</button>
        </div>
    </div>


    <div sec:authorize="isAuthenticated()">
        <div class="main__place"
             sec:authorize="hasAuthority('SEEKER') || hasAuthority('EMPLOYER') || hasAuthority('ADMIN') || hasRole('ADMIN')">
            <a href="/vacancy/new" sec:authorize="!hasAuthority('SEEKER')">
                <div class="smile-button left">
                    <div class="smile-image left">
                        <img src="/images/smile-1.png" alt="smile1">
                    </div>
                    <span>Розмістити вакансію</span>
                </div>
            </a>
            <a href="/resume/new" sec:authorize="!hasAuthority('EMPLOYER')">
                <div class="smile-button right">
                    <div class="smile-image right">
                        <img src="/images/smile-2.png" alt="smile2">
                    </div>
                    <span>Розмістити резюме</span>
                </div>
            </a>
        </div>

        <div class="main__place"
             sec:authorize="!hasAuthority('SEEKER') && !hasAuthority('EMPLOYER') && !hasAuthority('ADMIN') && !hasRole('ADMIN')">
            <a href="/choose">
                <div class="smile-button left">
                    <div class="smile-image left">
                        <img src="/images/smile-1.png" alt="smile1">
                    </div>
                    <span>Розмістити вакансію</span>
                </div>
            </a>
            <a href="/choose">
                <div class="smile-button right">
                    <div class="smile-image right">
                        <img src="/images/smile-2.png" alt="smile2">
                    </div>
                    <span>Розмістити резюме</span>
                </div>
            </a>
        </div>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <div class="main__place">
            <a href="/register">
                <div class="smile-button left">
                    <div class="smile-image left">
                        <img src="/images/smile-1.png" alt="smile1">
                    </div>
                    <span>Розмістити вакансію</span>
                </div>
            </a>
            <a href="/register">
                <div class="smile-button right">
                    <div class="smile-image right">
                        <img src="/images/smile-2.png" alt="smile2">
                    </div>
                    <span>Розмістити резюме</span>
                </div>
            </a>
        </div>
    </div>

    <img class="img1" src="/images/lightning-2.png">
    <img class="img2" src="/images/lightning-1.png">
    <img class="img3" src="/images/star-1.png">
    <img class="img4" src="/images/star-2.png">
</main>


<div id="about">
    <div class="video">
        <iframe src="https://www.youtube.com/embed/34oTCkwwiNk"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
        </iframe>
    </div>

    <div class="text">
        <span>
            Проєкт, який спрямований на збільшення статистики працевлаштування людей з інвалідністю в Україні у
            різноманітних сферах, відповідно до професійних якостей кандидатів та кандидаток.
        </span>
        <p>
            <a href="/about">дізнатися більше →</a>
        </p>
    </div>
    <img class="img5" src="/images/heart.png">
    <img class="img6" src="/images/arrow-1.png">
    <img class="img7" src="/images/arrow-2.png">
</div>


<div id="sticker-pack">
    <a href="https://t.me/addstickers/on_equals" target="_blank">
        <div class="button">
            <div>Завантажити стікерпак&nbsp;<span class="underline">↓</span></div>
        </div>
    </a>
    <span class="text">
        Ми створили мотиваційний стікерпак для телеграму!
        Завантажуй і доповнюй його новими іменами!
    </span>
</div>


<div id="news">
    <div class="slideshow">
        <div class="switch-l">
            <img src="/images/switch.png" alt="switch-left">
            <img src="/images/switch-light.png" alt="switch-left">
        </div>
        <div class="posts">
            <div th:each="s, i: ${sticker}" th:remove="tag">
                <div class="post active" th:if="${i.count == 1}">
                    <div class="post-img">
                        <img th:src="${s.getImage()}" alt="post1">
                    </div>
                    <div class="post-text">
                        <h3 th:text="${s.getTitle()}"></h3>
                        <br>
                        <div th:utext="${s.getText()}" th:remove="tag">

                        </div>

                    </div>
                </div>
                <div class="post" th:unless="${i.count == 1}">
                    <div class="post-img">
                        <img th:src="${s.getImage()}" alt="post1">
                    </div>
                    <div class="post-text">
                        <h3 th:text="${s.getTitle()}"></h3>
                        <br>
                        <div th:utext="${s.getText()}" th:remove="tag">

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="switch-r">
            <img src="/images/switch.png" alt="switch-right">
            <img src="/images/switch-light.png" alt="switch-right">
        </div>
    </div>
</div>

<div id="support">
    <span>
        Якщо ви хочете підтримати ініціативу «На рівних», у вас є змога підключити щомісячний донат або одноразовий
        внесок за реквізитами на розвиток та роботу платформи або <a href="#" class="underline" target="_blank">
        придбати унікальний мерч</a> та допомогти в зборі коштів на сертифікати на навчання в різних сферах для людей
        з інвалідністю.
    </span>
    <div class="buttons">
        <a href="https://www.patreon.com/onequals" target="_blank">
            <div class="support-button">
                <div class="image">
                    <img src="/images/support-heart-1.png" alt="heart">
                </div>
                <span>Підключити щомісячний донат</span>
            </div>
        </a>
        <a href="https://send.monobank.ua/jar/2tsi1dsLLE" target="_blank">
            <div class="support-button">
                <div class="image">
                    <img src="/images/support-heart-2.png" alt="heart">
                </div>
                <span>Зробити одноразовий внесок</span>
            </div>
        </a>
    </div>
    <p>
        Також ви можете долучитись до команди, ставши волонтером за такими напрямками:
        SMM, PR, Копірайтинг, Адміністрування, свої пропозиції.
    </p>
    <p>
        Якщо у вас виникли запитання або ви хочете долучитись до команди «На рівних», пишіть нам
        на пошту <a href="mailto:on.equal.project@gmail.com" class="underline" target="_blank">on.equal.project@gmail.com</a>
        або у
        соціальні мережі в
        <a href="https://www.facebook.com/onequals/" class="underline" target="_blank">фейсбук</a> та <a
            href="https://www.instagram.com/onequals_ua/" class="underline" target="_blank">інстаграм</a>.
    </p>
</div>

<footer>
    <ul>
        <li>
            <a href="https://www.facebook.com/onequals/" target="_blank">Facebook</a>
        </li>
        <li>
            <a href="https://www.instagram.com/onequals_ua/" target="_blank">Instagram</a>
        </li>
        <li>
            <a href="mailto:on.equal.project@gmail.com" target="_blank">E-mail</a>
        </li>
    </ul>
    <div class="ukf">
        <div class="image">
            <img src="/images/ukf.png" alt="ukf">
        </div>
        <div class="text">
            <p>За підтримки Українського культурного фонду</p>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="/tou">Умови користування</a>
        </div>
    </div>
    </div>
    <div class="scroll">
        на початок ↑
    </div>
</footer>

<div id="alert">
    <span th:if="${alert}" th:text="${alert}"></span>
</div>
<script th:inline="javascript">
    var alertMode = [[${alertMode}]]
</script>
<script src="/script/script.js"></script>
<script src="/script/script-list.js"></script>
<script src="/script/script-index.js"></script>
<script src="/script/script-up.js"></script>
<script src="/script/script-sticker.js"></script>
<script src="/script/script-slideshow.js"></script>
<script src="/script/script-alert.js"></script>
</body>
</html>