<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>OnEquals Log-in</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/sign.css">
    <link rel="stylesheet" href="/css/sign-1440.css">
    <!--    <link rel="shortcut icon" type="image/ico" th:href="@{/img/favicon.ico}"/>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="block/block-header-autho.html :: header"></th:block>
</header>
<form id="sign-in" class="in" method="POST" th:action="@{/login}">
    <div id="sign">
        <div class="form in">
            <input type="text" placeholder="Ел. пошта" name="username">
            <div class="pass">
                <input type="password" placeholder="Пароль" name="password">
                <div class="image">
                    <img src="/images/eye-close.png">
                </div>
            </div>
        </div>
        <a href="/register/password">Забули пароль?</a>
    </div>

</form>
<div id="invalid">
    <label id="error" class="error" th:if="${loginError != null}">Невірний логін або пароль</label>
</div>
<div id="sign-button">
    <div class="sign-in">
        <button form="sign-in">Увійти&nbsp→</button>
    </div>
    <div class="account">
        <button class="google" type="submit" form="googleForm">Продовжити з&nbspGoogle</button>
        <button class="fb" type="submit" form="fbForm">Продовжити з&nbspFB</button>
    </div>
</div>

<form id="googleForm" method="get" th:action="@{/oauth2/authorization/google}"></form>
<form id="fbForm" method="get" th:action="@{/oauth2/authorization/facebook}"></form>

<script src="/script/script.js"></script>
<script src="/script/script-sign.js"></script>
</body>
</html>