<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>OnEquals Register Seeker</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/reg-1.css">
    <link rel="stylesheet" href="/css/reg-1-1024.css">
    <link rel="stylesheet" href="/css/reg-1-775.css">
    <link rel="stylesheet" href="/css/reg-1-480.css">
    <link rel="stylesheet" href="/css/reg-1-320.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header>
    <th:block th:if="${nameProfile == null}" th:include="/block/block-header.html :: header"></th:block>
    <th:block th:if="${nameProfile != null}" th:include="/block/block-header-autho.html :: header"></th:block>
</header>
<div id="reg2">
    <div class="reg-head">
        <h1>крок 1 / про шукача</h1>
    </div>
    <span>поля з зірочкою обов’язкові для заповнення&nbsp<span class="text-red">*</span></span>

    <form id="form-reg-employer" action="/seeker" method="POST">
        <input type="hidden" name="id" th:value="${id}">
        <label for="company-name">
            1. ПІБ<span class="text-red"> *</span>
        </label>
        <input id="company-name" type="text" placeholder="Яков Якович Яковлєв" required name="name">

        <label for="seeker">
            2. Оберіть, в якій сфері ви працюєте&nbsp<span class="text-red">*</span>
        </label>
        <div class="list" id="categoryList">
            <input autocomplete="off" name="category" id="seeker" type="text" class="select-label"
                   placeholder="почніть вводити назву">
            <div class="select green" id="employer-div">
                <ul>
                    <li th:each="c: ${categories}">
                        <div class="li" th:text="${c.getLongName()}"></div>
                    </li>
                </ul>
            </div>
        </div>

        <label for="email">
            3. Пошта, на яку будуть приходити листи&nbsp<span class="text-red">*</span>
        </label>
        <input id="email" type="email" name="email" placeholder="вставте лінк" required>

        <label>
            4. Ваше розташування&nbsp<span class="text-red">*</span>
        </label>

        <div class="country">
            <div class="country-label">
                <label for="country" class="label-inner">
                    <span>Країна</span>
                </label>
                <div class="list" id="countryList">
                    <input autocomplete="off" name="countString" id="country" type="text" class="select-label"
                           placeholder="почніть вводити назву">
                    <div class="select green" id="country-div">
                        <ul>
                            <li th:each="c: ${country}">
                                <div class="li" th:text="${c}"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="country-label">
                <label for="city" class="label-inner">
                    <span>Міста</span>
                </label>
                <div class="list" id="cityList">
                    <input autocomplete="off" name="citString" id="city" type="text" class="select-label"
                           placeholder="почніть вводити назву">
                    <div class="select green" id="city-div">
                        <ul>
                            <li th:each="c: ${city}">
                                <div class="li" th:text="${c.getCity()}"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accept add">
            <label>
                <input type="button" name="accept0">
                <span>додати країну чи місто</span>
            </label>
        </div>

        <label for="link">
            5. Ваш сайт, якщо він є
        </label>
        <input id="link" type="url" name="site" placeholder="вставте лінк">

        <label>
            6. Соціальні мережі
        </label>

        <label class="label-inner" style="margin-top: 9.2vh;">
            <span>Facebook</span>
            <input type="text" name="linkFacebook" placeholder="вставте лінк">
        </label>

        <label class="label-inner">
            <span>Instagram</span>
            <input type="text" name="linkInstagram" placeholder="вставте лінк">
        </label>

        <label class="label-inner">
            <span>Twitter</span>
            <input type="text" name="linkTwitter" placeholder="вставте лінк">
        </label>

        <label class="label-inner">
            <span>LinkedIn</span>
            <input type="text" name="linkLinkedIn" placeholder="вставте лінк">
        </label>

        <label for="story">
            7. Розкажіть про себе (коротка інформація про досвід роботи, інтереси, освіту,
            необхідні умови для праці тощо)
        </label>
        <input id="story" type="text" name="description" placeholder="до 1000 знаків">

        <div class="accept">
            <input id='accept1' type="checkbox" name="accept1" required>
            <label for="accept1">
                <span>погоджуюсь з умовами публічної оферти</span>
            </label>

            <input id="accept2" type="checkbox" name="accept2">
            <label for="accept2">
                <span>погоджуюсь на особисте листування з шукачем</span>
            </label>
        </div>
        <div class="submit">
            <button type="submit">Зберегти і далі!</button>
        </div>

    </form>
</div>

<script src="/script/script-list.js"></script>
<script src="/script/script.js"></script>
</body>
</html>