<!DOCTYPE html>
<html lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>OnEquals Resume</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/file.css">
    <link rel="stylesheet" href="/css/reg-1.css">
    <link rel="stylesheet" href="/css/reg-1-1024.css">
    <link rel="stylesheet" href="/css/reg-1-775.css">
    <link rel="stylesheet" href="/css/reg-1-480.css">
    <link rel="stylesheet" href="/css/reg-1-320.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="block/block-header-autho.html :: header"></th:block>
</header>
<form id="form-reg-employer" th:action="@{/resume/new}" method="POST">
    <div id="reg2">
        <div class="reg-head">
            <h1>крок 2 / моє резюме</h1>
        </div>
        <span>поля з зірочкою обов’язкові для заповнення&nbsp;<span class="text-red">*</span></span>


        <div id="catList">
            <label for="resume" class="first">
                1. Оберіть вакансію, яка вам потрібна&nbsp;<span class="text-red">*</span>
            </label>
            <div class="list" id="categoryList">
                <input autocomplete="off" name="category" id="resume" type="text" class="select-label"
                       placeholder="почніть вводити назву">
                <div class="select green" id="employer-div">
                    <ul>
                        <li th:each="c: ${categories}">
                            <div class="li" th:text="${c.getLongName()}"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <label>
            2. Оберіть тип зайнятості&nbsp;<span class="text-red">*</span>
        </label>
        <div class="green-choice">
            <input id="type-0" type="radio" name="type" value="Повна">
            <label for="type-0">Повна</label>
            <input id="type-1" type="radio" name="type" value="Неповна">
            <label for="type-1">Неповна</label>
            <input id="type-2" type="radio" name="type" value="Дистанційна">
            <label for="type-2">Дистанційна</label>
            <input id="type-3" type="radio" name="type" value="Часткова">
            <label for="type-3">Часткова</label>
            <input id="type-4" type="radio" name="type" value="Проектна">
            <label for="type-4">Проектна</label>
        </div>

        <label>
            3. Ваше розташування&nbsp;<span class="text-red">*</span>
        </label>

        <div class="country">
            <div class="country-label">
                <label for="country" class="label-inner">
                    <span>Країна</span>
                </label>
                <div class="list" id="countryList">
                    <input autocomplete="off" name="countString" id="country" type="text" class="select-label"
                           placeholder="почніть вводити назву">
                    <div class="select green" id="country-div">
                        <ul>
                            <li th:each="c: ${country}">
                                <div class="li" th:text="${c}"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="country-label">
                <label for="city" class="label-inner">
                    <span>Міста</span>
                </label>
                <div class="list" id="cityList">
                    <input autocomplete="off" name="citString" id="city" type="text" class="select-label"
                           placeholder="почніть вводити назву">
                    <div class="select green" id="city-div">
                        <ul>
                            <li th:each="c: ${city}">
                                <div class="li" th:text="${c.getCity()}"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accept add green-button">
            <label>
                <input type="button" name="accept0">
                <span>додати країну і місто</span>
            </label>
        </div>

        <label for="story">
            4. Додаткова інформація про себе (досвід роботи у цій сфері, освіту, необхідні умови для праці
            тощо)&nbsp;<span class="text-red">*</span>
        </label>
        <input id="story" type="text" placeholder="до 1000 знаків" name="description">

        <label for="salary">
            5. Вкажіть зарплату (у гривнях)&nbsp;<span class="text-red">*</span>
        </label>
        <input id="salary" type="text" name="salary">
        <span class="errorMessage"></span>
    </div>
    <div id="reg2_sub">
        <div class="submit">
            <div class="add-vacancy">
                <input id="add-button" type="button" form="form-reg-employer">
                <label for="add-button" class="unselectable">Додати&nbsp;ще резюме&nbsp;+</label>
            </div>
            <div class="add-vacancy-btn">
                <button class="unselectable g-recaptcha"
                        th:attr="data-sitekey=${@reCaptchaKeys.getSite()}"
                        data-callback='onSubmit'
                        data-action='submit'>Зберегти і далі!
                </button>
                <button form="skip" class="unselectable">Пропустити</button>
            </div>
        </div>
    </div>
</form>
<div id="footer-reg">
    <div class="file">
        <div class="block">
            <img src="/images/pdf.png" alt="pdf">
            <div class="text">
                <span class="file-name"></span>
                <span class="file-size"></span>
            </div>
        </div>
        <div class="cancel">
            <img src="/images/delete.png" alt="delete">
        </div>
    </div>
    <div id="invalid"></div>
    <form id="formResume" th:action="@{/resume/file}" method="post" enctype="multipart/form-data">
        <input type="hidden" id="form-type">
        <input type="hidden" id="size">
        <div class="download">
            <input id="download" type="file" accept="application/pdf" name="file" form="formResume">
            <label for="download" class="unselectable">
                Завантажити готове&nbsp<span>↓</span>
            </label>
        </div>
        <button class="download file-resume g-recaptcha"
                th:attr="data-sitekey=${@reCaptchaKeys.getSite()}"
                data-callback="onSubmit"
                data-action='submit'>
            Відправити резюме
        </button>
    </form>
    <div class="star">
        <img src="/images/star-1.png" alt="star">
    </div>
    <p>Ви також можете завантажити своє готове резюме на свій профіль у форматі pdf до 10МБ</p>
</div>


<form id="skip" th:action="@{/}"></form>

<script type="text/javascript">
</script>

<script th:inline="javascript">


    var catList = []
    $("#categoryList .li").each(function () {
        catList.push($(this).text())
    })

    var cityList = []
    $("#cityList .li").each(function () {
        cityList.push($(this).text())
    })
</script>
<script src="/script/script-list.js"></script>
<script src="/script/script-valid.js"></script>
<script src="/script/script-file.js"></script>
<script src="/script/script-add.js"></script>
<script src="/script/script.js"></script>
</body>
</html>