<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>OnEquals List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index-decor.css">
    <link rel="stylesheet" href="/css/main-adapt.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/search-1440.css">
</head>
<body>

<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="block/block-header-autho.html :: header"></th:block>
</header>
<main>
    <div class="main__block">
        <div class="search">
            <form style="display: none" sec:authorize="!hasAuthority('EMPLOYER') && !hasRole('EMPLOYER')" id="search"
                  method="get" th:action="@{/vacancy/list}">
            </form>

            <form style="display: none" sec:authorize="hasAuthority('EMPLOYER') || hasRole('EMPLOYER')" id="search"
                  method="get" th:action="@{/resume/list}">
            </form>
            <!--            <input type="hidden" form="sortForm" name="key_words" th:value="${key_wordsVal}">-->
            <!--            <input type="hidden" form="sortForm" name="catString" th:value="${catStringVal}">-->
            <!--            <input type="hidden" form="sortForm" name="citString" th:value="${citStringVal}">-->
            <form>
                <label>
                    <input type="text" name="key_words" class="search_input" placeholder="Ключові слова"
                           th:value="${key_wordsVal}" form="search">
                </label>
                <label>
                    <div class="list" id="categoryList">
                        <input autocomplete="off" id="categorySearch" type="text" class="select-label"
                               placeholder="Спеціалізація" name="catString" th:value="${catStringVal}" form="search">
                        <div class="select green" id="category-div">
                            <ul>
                                <li th:each="c: ${categories}">
                                    <div class="li" th:text="${c.getLongName()}"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </label>
                <label>
                    <div class="list" id="cityList">
                        <input autocomplete="off" name="citString" id="city" type="text" class="select-label"
                               placeholder="Пошук за містом" th:value="${citStringVal}" form="search">
                        <div class="select" id="city-div">
                            <ul>
                                <li th:each="c: ${city}">
                                    <div class="li" th:text="${c.getCity()}"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </label>
            </form>
        </div>
        <div class="main__button">
            <button form="search">Знайти!</button>
        </div>
    </div>
    <img class="img1" src="/images/lightning-2.png">
    <img class="img2" src="/images/lightning-1.png">
    <img class="img3" src="/images/star-1.png">
    <img class="img4" src="/images/star-2.png">
</main>
<div id="search-list">

    <form th:if="${userType == 'seeker'}" id="sortForm" method="get" th:action="@{/vacancy/list}">
    </form>

    <form th:if="${userType == 'employer'}" id="sortForm" method="get" th:action="@{/resume/list}">
    </form>

    <input id="likes-input" type="hidden" form="sortForm" name="likes">
    <input id="dislikes-input" type="hidden" form="sortForm" name="dislikes">

    <div id="sort">
        <div class="summary">
            <h4>Всього:</h4>
            <span>
                <span th:if="${total != null}" th:text="${total}" th:remove="tag"></span>
                <span th:if="${total == null}" th:text="${'0'}" th:remove="tag"></span>
                <span th:if="${userType == 'seeker'}" th:remove="tag">вакансій</span>
                <span th:if="${userType == 'employer'}" th:remove="tag">резюме</span>
            </span>
        </div>
        <div class="sort-by">
            <h4 class="sort">Сортувати:</h4>
            <div class="buttons">
                <input id='id' value="id" type="radio" name="sort" form="sortForm">
                <label for="id" class="radio">
                    за датою
                </label>
                <input id="salary" value="salary" type="radio" name="sort" form="sortForm">
                <label for="salary" class="radio">
                    за зарплатою
                </label>
            </div>
        </div>
    </div>


    <div id="category">
        <div class="cat-list">
            <h3>Категорія:</h3>

            <div th:each="c: ${categories}" th:remove="tag">
                <input th:id="'cat-' + ${c.getId()}" type="checkbox" form="sortForm" name="category"
                       th:value="${c.getId()}">
                <label class="checkbox" th:for="'cat-' + ${c.getId()}">
                    <span th:text="${c.getLongName()}" th:remove="tag"></span>
                    &nbsp
                    <span th:text="${c.getTotal()}"></span>
                </label>
            </div>
        </div>


        <div class="type-list">
            <h3>Вид зайнятості:</h3>

            <div th:each="t: ${type}" th:remove="tag">
                <input th:id="'type-' + ${t.getId()}" type="checkbox" name="type" form="sortForm"
                       th:value="${t.getId()}">
                <label class="checkbox" th:for="'type-' + ${t.getId()}">
                    <span th:text="${t.getName()}" th:remove="tag"></span> <span th:text="${t.getTotal()}"></span>
                </label>
            </div>
        </div>

        <div class="salary">
            <h3>Зарплата:</h3>

            <span>від</span>
            <div class="input">
                <label for="min" id="min-output"></label>
                <input type="range" id="min" step="1000" form="sortForm" name="min">
            </div>
            <span>до</span>
            <div class="input">
                <label for="max" id="max-output"></label>
                <input type="range" id="max" step="1000" form="sortForm" name="max">
            </div>
        </div>

    </div>

    <div id="vacancies">
        <div th:if="${vacancies != null}" th:remove="tag">
            <div class="vacancy" th:each="v, iStat: ${vacancies.content}">
                <div id="idLike" th:text="${v.getId()}"></div>
                <div class="text">
                    <h3 th:text="${v.getUser().getName()}"></h3>
                    <ul>
                        <li th:text="${v.getCategory().getLongName()}"></li>
                        <li th:text="${v.getType().getName()}"></li>
                        <li th:if="${v.getSalary() > 999}"
                            th:text="${#numbers.formatInteger(v.getSalary(), 3, 'WHITESPACE') + ' грн'}">
                        </li>
                        <li th:if="${v.getSalary() <= 999}" th:text="${v.getSalary() + ' грн'}">
                        </li>
                        <li>
                            <div th:each="c, index: ${v.getCity()}" th:remove="tag">
                                <span th:if="${index.index == 0}" th:text="${c.getCountry()}" th:remove="tag"></span>
                                <span th:text="${' / '+ c.getCity()}" th:remove="tag"></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hide">
                    <span class="roll-down">розгорнути ↓</span>
                    <span class="descript" th:utext="${v.getDescription()}">
                </span>
                    <span class="roll-up">згорнути ↑</span>
                </div>
                <div class="buttons" sec:authorize="isAuthenticated()">
                    <a th:href="${'mailto:'+v.getUser().getUsername()}">
                        <div class="mail">
                            <img src="/images/mail-vacancy.png" alt="mail">
                        </div>
                    </a>
                    <div class="heart">
                        <img src="/images/heart-vacancy.png" alt="like">
                    </div>
                    <a th:href="${'/profile/user/' + v.getUser().getId()}">
                        <div class="eye">
                            <img src="/images/eye-vacancy.png" alt="eye">
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div id="paginations" th:if="${totalPages > 1}">
            <div th:if="${totalPages > 0 && userType == 'employer'}" th:remove="tag">
                <a th:if="${currentPage > 1}" th:onclick="setPos()" th:href="@{/resume/list(size=${vacancies.size},
                page=${currentPage - 1},
                sort=${sort},
                likes=${likesId},
                category=${category},
                type=${typeVal},
                min=${minVal},
                max=${maxVal})
                }">&#8592;</a>

                <a th:unless="${currentPage > 1}" th:onclick="setPos()" th:href="@{/resume/list(size=${vacancies.size},
                page=${totalPages},
                sort=${sort},
                likes=${likesId},
                category=${category},
                type=${typeVal},
                min=${minVal},
                max=${maxVal})
                }">&#8592;</a>

                <div class="pagination">
                    <a th:onclick="setPos()"
                       th:if="${((currentPage == 1 && iter.count < 6) ||
                       (iter.count >= currentPage - 1 && iter.count <= currentPage + 3 && currentPage + 3 <= iter.size) ||
                       (iter.count >= currentPage - 2 && iter.count <= currentPage + 2 && currentPage + 2 <= iter.size && currentPage + 3 > iter.size) ||
                       (iter.count >= currentPage - 3 && iter.count <= currentPage + 1 && currentPage + 1 <= iter.size && currentPage + 2 > iter.size) ||
                       (iter.count >= currentPage - 4 && iter.count <= currentPage && currentPage <= iter.size && currentPage + 1 > iter.size))}"
                       th:each="pageNumber, iter: ${pageNumbers}"
                       th:href="@{/resume/list(size=${vacancies.size},
                page=${pageNumber},
                sort=${sort},
                likes=${likesId},
                category=${category},
                type=${typeVal},
                min=${minVal},
                max=${maxVal})
                }"
                       th:text="${pageNumber}"
                       th:class="${pageNumber==vacancies.number + 1} ? active">

                    </a>
                </div>

                <a th:if="${currentPage < totalPages}" th:onclick="setPos()" th:href="@{/resume/list(size=${vacancies.size},
                page=${currentPage + 1},
                sort=${sort},
                likes=${likesId},
                category=${category},
                type=${typeVal},
                min=${minVal},
                max=${maxVal})
                }">&#8594;</a>

                <a th:unless="${currentPage < totalPages}" th:onclick="setPos()" th:href="@{/resume/list(size=${vacancies.size},
                page=${1},
                sort=${sort},
                likes=${likesId},
                category=${category},
                type=${typeVal},
                min=${minVal},
                max=${maxVal})
                }">&#8594;</a>
            </div>


            <div th:if="${vacancies.totalPages > 0 && userType == 'seeker'}" th:remove="tag">
                <a th:if="${currentPage > 1}" th:onclick="setPos()" th:href="@{/vacancy/list(size=${vacancies.size},
                page=${currentPage - 1},
                sort=${sort},
                likes=${likesId},
                category=${category},
                type=${typeVal},
                min=${minVal},
                max=${maxVal})
                }">&#8592;</a>

                <a th:unless="${currentPage > 1}" th:onclick="setPos()" th:href="@{/vacancy/list(size=${vacancies.size},
                page=${totalPages},
                sort=${sort},
                likes=${likesId},
                category=${category},
                type=${typeVal},
                min=${minVal},
                max=${maxVal})
                }">&#8592;</a>

                <div class="pagination">
                    <a th:onclick="setPos()"
                       th:if="${((currentPage == 1 && iter.count < 6) ||
                       (iter.count >= currentPage - 1 && iter.count <= currentPage + 3 && currentPage + 3 <= iter.size) ||
                       (iter.count >= currentPage - 2 && iter.count <= currentPage + 2 && currentPage + 2 <= iter.size && currentPage + 3 > iter.size) ||
                       (iter.count >= currentPage - 3 && iter.count <= currentPage + 1 && currentPage + 1 <= iter.size && currentPage + 2 > iter.size) ||
                       (iter.count >= currentPage - 4 && iter.count <= currentPage && currentPage <= iter.size && currentPage + 1 > iter.size))}"
                       th:each="pageNumber, iter: ${pageNumbers}"
                       th:href="@{/vacancy/list(size=${vacancies.size},
                page=${pageNumber},
                sort=${sort},
                likes=${likesId},
                category=${category},
                type=${typeVal},
                min=${minVal},
                max=${maxVal})
                }"
                       th:text="${pageNumber}"
                       th:class="${pageNumber==vacancies.number + 1} ? active">

                    </a>
                </div>

                <a th:if="${currentPage < totalPages}" th:onclick="setPos()" th:href="@{/vacancy/list(size=${vacancies.size},
                page=${currentPage + 1},
                sort=${sort},
                likes=${likesId},
                category=${category},
                type=${typeVal},
                min=${minVal},
                max=${maxVal})
                }">&#8594;</a>

                <a th:unless="${currentPage < totalPages}" th:onclick="setPos()" th:href="@{/vacancy/list(size=${vacancies.size},
                page=${1},
                sort=${sort},
                likes=${likesId},
                category=${category},
                type=${typeVal},
                min=${minVal},
                max=${maxVal})
                }">&#8594;</a>
            </div>

        </div>
    </div>
</div>

<script src="/script/script.js"></script>
<script src="/script/script-list.js"></script>
<script src="/script/script-like.js"></script>
<script src="/script/script-search.js"></script>
<script th:inline="javascript">
    var min = [[${min}]];
    var max = [[${max}]];
    var likesId = [[${likesId}]];
</script>
</body>
</html>