<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>OnEquals List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/main-adapt.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/search-1440.css">
</head>
<body>

<header>
    <th:block th:if="${nameProfile == null}" th:include="/block/block-header.html :: header"></th:block>
    <th:block th:if="${nameProfile != null}" th:include="/block/block-header-autho.html :: header"></th:block>
</header>
<main>
    <div class="main__block">
        <div class="search">
            <form id="search" action="/vacancy/list" method="get">
                <label>
                    <input type="text" name="key_words" class="search_input" placeholder="Ключові слова"
                           th:value="${key_wordsVal}">
                </label>
                <label>
                    <div class="list" id="categoryList">
                        <input autocomplete="off" id="categorySearch" type="text" class="select-label"
                               placeholder="Спеціалізація" name="catString" th:value="${catStringVal}">
                        <div class="select green" id="category-div">
                            <ul>
                                <li th:each="c: ${category}">
                                    <div class="li" th:text="${c.getLongName()}"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </label>
                <label>
                    <div class="list" id="cityList">
                        <input autocomplete="off" name="citString" id="city" type="text" class="select-label"
                               placeholder="Пошук за містом" th:value="${citStringVal}">
                        <div class="select" id="city-div">
                            <ul>
                                <li th:each="c: ${city}">
                                    <div class="li" th:text="${c.getCity()}"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </label>
            </form>
        </div>
        <div class="main__button">
            <button form="search">Знайти!</button>
        </div>
    </div>
</main>
<div id="search-list">

    <form id="sortForm" method="get" action="/vacancy/list">
    </form>

    <input id="likes-input" type="hidden" form="sortForm" name="likes">

    <div id="sort">
        <div class="summary">
            <h4>Всього:</h4>
            <span><span th:text="${total}" th:remove="tag"></span> вакансій</span>
        </div>
        <div class="sort-by">
            <h4 class="sort">Сортувати:</h4>
            <div class="buttons">
                <input id='id' value="id" type="radio" name="sort" form="sortForm">
                <label for="id" class="radio">
                    за датою
                </label>
                <input id="salary" value="salary" type="radio" name="sort" form="sortForm">
                <label for="salary" class="radio">
                    за зарплатою
                </label>
            </div>
        </div>
    </div>


    <div id="category">
        <div class="cat-list">
            <h3>Категорія:</h3>

            <div th:each="c: ${categories}" th:remove="tag">
                <input th:id="'cat-' + ${c.getId()}" type="checkbox" form="sortForm" name="category"
                       th:value="${c.getId()}">
                <label class="checkbox" th:for="'cat-' + ${c.getId()}">
                    <span th:text="${c.getLongName()}" th:remove="tag"></span>
                    &nbsp
                    <span th:text="${c.getTotal()}"></span>
                </label>
            </div>
        </div>


        <div class="type-list">
            <h3>Вид зайнятості:</h3>

            <div th:each="t: ${type}" th:remove="tag">
                <input th:id="'type-' + ${t.getId()}" type="checkbox" name="type" form="sortForm"
                       th:value="${t.getId()}">
                <label class="checkbox" th:for="'type-' + ${t.getId()}">
                    <span th:text="${t.getName()}" th:remove="tag"></span> <span th:text="${t.getTotal()}"></span>
                </label>
            </div>
        </div>

        <div class="salary">
            <h3>Зарплата:</h3>

            <span>від</span>
            <div class="input">
                <label for="min" id="min-output"></label>
                <input type="range" id="min" step="1000" form="sortForm" name="min">
            </div>
            <span>до</span>
            <div class="input">
                <label for="max" id="max-output"></label>
                <input type="range" id="max" step="1000" form="sortForm" name="max">
            </div>
        </div>

    </div>

    <div id="vacancies">
        <div class="vacancy" th:each="v: ${vacancies}">
            <div class="text">
                <h3 th:text="${v.getUser().getName()}"></h3>
                <ul>
                    <li th:text="${v.getCategory().getLongName()}"></li>
                    <li th:text="${v.getType().getName()}"></li>
                    <li th:text="${#numbers.formatInteger(v.getSalary(), 3, 'WHITESPACE') + ' грн'}"></li>
                    <li><span th:text="${v.getCity().getCountry()}" th:remove="tag"></span> / <span
                            th:text="${v.getCity().getCity()}"
                            th:remove="tag"></span></li>
                </ul>
                <div class="hide">
                    <span>розгорнути ↓</span>
                </div>
            </div>
            <div class="buttons">
                <div class="mail">
                    <img src="/images/mail-vacancy.png" alt="mail">
                </div>
                <div class="heart">
                    <img src="/images/heart-vacancy.png" alt="like">
                </div>
                <div class="eye">
                    <img src="/images/eye-vacancy.png" alt="eye">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/script/script.js"></script>
<script src="/script/script-list.js"></script>
<script src="/script/script-search.js"></script>
<script th:inline="javascript">
    var min = [[${min}]];
    var max = [[${max}]];
</script>
</body>
</html>