<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>OnEquals Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/reg-1.css">
    <link rel="stylesheet" href="/css/reg-1-1024.css">
    <link rel="stylesheet" href="/css/reg-1-775.css">
    <link rel="stylesheet" href="/css/reg-1-480.css">
    <link rel="stylesheet" href="/css/reg-1-320.css">
    <link rel="shortcut icon" type="image/ico" th:href="@{/img/favicon.ico}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="block/block-header-autho.html :: header"></th:block>
</header>
<form id="emp" action="/employer" method="get">
<!--    <input type="hidden" name="id" th:value="${id}">-->
</form>
<form id="seek" action="/seeker" method="get">
<!--    <input type="hidden" name="id" th:value="${id}">-->
</form>
<div id="reg1">
    <span class="title">Хто ви? :)</span>
    <button type="submit" form="emp" class="button-1">
            <span>
                Працедавець
            </span>
    </button>
    <button type="submit" form="seek" class="button-2">
            <span>
                Шукач
            </span>
    </button>
</div>

<script src="/script/script.js"></script>
</body>
</html>