<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title th:text="${'OnEquals - ' + name}"></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/pages.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="block/block-header-autho.html :: header"></th:block>
</header>
<div id="short">
    <div class="label" th:text="${label}">
    </div>
    <div class="title" th:text="${name}">
    </div>
    <div class="short-body" th:utext="${shortBody}">
    </div>
</div>
<div id="static" th:utext="${body}">
</div>
<div id="author" th:text="${author}">
</div>
<div id="slider">
    <a th:href="${'/pages/' + prevId}">
        <div class="button prev">
            <span class="small">←</span>
            <span class="big">Попередня стаття&nbsp;←</span>
        </div>
    </a>

    <a th:href="${'/pages/' + nextId}">
        <div class="button next">
            Наступна стаття&nbsp;→
        </div>
    </a>

</div>
<div id="resume-list">
    <div th:each="s, i: ${short}" th:remove="tag">
        <div th:if="${i.count == 1 || i.count == 2}" class="block big">
            <input type="hidden" id="id" name="id" th:value="${s.getId()}">
            <div class="image">
                <img src="">
            </div>
            <div class="body">
                <div th:if="${s.getLabel() == 'Шукачам'}" th:text="${s.getLabel()}" class="label green"></div>
                <div th:if="${s.getLabel() == 'Роботодавцям'}" th:text="${s.getLabel()}" class="label yellow"></div>
                <div th:if="${s.getLabel() == 'Законодавство'}" th:text="${s.getLabel()}" class="label pink"></div>
                <div class="title"><span th:text="${s.getName()}"></span></div>
                <div class="text first" th:utext="${s.getShortBody()}"></div>
            </div>
            <div class="text second" th:utext="${s.getShortBody()}"></div>
        </div>
        <div th:unless="${i.count == 1 || i.count == 2}" class="block">
            <input type="hidden" id="id" name="id" th:value="${s.getId()}">
            <div class="body">
                <div th:if="${s.getLabel() == 'Шукачам'}" th:text="${s.getLabel()}" class="label green"></div>
                <div th:if="${s.getLabel() == 'Роботодавцям'}" th:text="${s.getLabel()}" class="label yellow"></div>
                <div th:if="${s.getLabel() == 'Законодавство'}" th:text="${s.getLabel()}" class="label pink"></div>
                <div class="title"><span th:text="${s.getName()}"></span></div>
                <div class="text" th:utext="${s.getShortBody()}"></div>
            </div>
        </div>
    </div>
</div>
<script src="/script/script.js"></script>
<script src="/script/script-font.js"></script>
</body>
</html>