<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title th:text="${'OnEquals - ' + name}"></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/pages.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="block/block-header-autho.html :: header"></th:block>
</header>
<div id="short">
    <div class="label" th:text="${label}">
    </div>
    <div class="title" th:text="${name}">
    </div>
    <div class="short-body" th:utext="${shortBody}">
    </div>
</div>
<div id="static" th:utext="${body}">
</div>
<div id="slider">
    <div class="button prev">
        <span class="small">←</span>
        <span class="big">Попередня стаття&nbsp;←</span>
    </div>
    <div class="button next">
        Наступна стаття&nbsp;→
    </div>
</div>
<!--<div id="resume-list">-->
<!--    <div class="block">-->
<!--        <div class="image">-->
<!--            <img src="">-->
<!--        </div>-->
<!--        <div class="body">-->
<!--            <div class="label">-->
<!--                Шукачам-->
<!--            </div>-->
<!--            <div class="title">-->
<!--                Резюме, яке зацікавить-->
<!--            </div>-->
<!--            <div class="text">-->
<!--                "Резюме — ваше перше знайомство з потенційним роботодавцем. А, як відомо, перше враження має залишитися-->
<!--                максимально приємним та позитивним. Тому ми зібрали для вас основні поради та правила, щоб ваше «перше-->
<!--                побачення» з HR-ом допомогло вам отримати роботу вашої мрії.-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="block">-->
<!--        <div class="image">-->
<!--            <img src="">-->
<!--        </div>-->
<!--        <div class="body">-->
<!--            <div class="label">-->
<!--                Шукачам-->
<!--            </div>-->
<!--            <div class="title">-->
<!--                Резюме, яке зацікавить-->
<!--            </div>-->
<!--            <div class="text">-->
<!--                "Резюме — ваше перше знайомство з потенційним роботодавцем. А, як відомо, перше враження має залишитися-->
<!--                максимально приємним та позитивним. Тому ми зібрали для вас основні поради та правила, щоб ваше «перше-->
<!--                побачення» з HR-ом допомогло вам отримати роботу вашої мрії.-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="block">-->
<!--        <div class="body">-->
<!--            <div class="label">-->
<!--                Шукачам-->
<!--            </div>-->
<!--            <div class="title">-->
<!--                Резюме, яке зацікавить-->
<!--            </div>-->
<!--            <div class="text">-->
<!--                "Резюме — ваше перше знайомство з потенційним роботодавцем. А, як відомо, перше враження має залишитися-->
<!--                максимально приємним та позитивним. Тому ми зібрали для вас основні поради та правила, щоб ваше «перше-->
<!--                побачення» з HR-ом допомогло вам отримати роботу вашої мрії.-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="block">-->
<!--        <div class="body">-->
<!--            <div class="label">-->
<!--                Шукачам-->
<!--            </div>-->
<!--            <div class="title">-->
<!--                Резюме, яке зацікавить-->
<!--            </div>-->
<!--            <div class="text">-->
<!--                "Резюме — ваше перше знайомство з потенційним роботодавцем. А, як відомо, перше враження має залишитися-->
<!--                максимально приємним та позитивним. Тому ми зібрали для вас основні поради та правила, щоб ваше «перше-->
<!--                побачення» з HR-ом допомогло вам отримати роботу вашої мрії.-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="block">-->
<!--        <div class="body">-->
<!--            <div class="label">-->
<!--                Шукачам-->
<!--            </div>-->
<!--            <div class="title">-->
<!--                Резюме, яке зацікавить-->
<!--            </div>-->
<!--            <div class="text">-->
<!--                "Резюме — ваше перше знайомство з потенційним роботодавцем. А, як відомо, перше враження має залишитися-->
<!--                максимально приємним та позитивним. Тому ми зібрали для вас основні поради та правила, щоб ваше «перше-->
<!--                побачення» з HR-ом допомогло вам отримати роботу вашої мрії.-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<script src="/script/script.js"></script>
</body>
</html>