<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title th:text="${'OnEquals - ' + name}"></title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/pages.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="block/block-header-autho.html :: header"></th:block>
</header>
<div id="short">
    <div class="label" th:text="${label}">
    </div>
    <div class="title" th:text="${name}">
    </div>
    <div class="short-body" th:utext="${shortBody}">
    </div>
</div>
<div id="static" th:utext="${body}">
    <div class="image-left"><img alt="" src="../static/images/CrvokeyRmEil.png"
                                 style="height:354px; width:411px"/><span class="image-span">джерело фото / підпис:&nbsp;<br/>
джерело фотоджерело фото джерело фото джерело фото</span></div>

    <h2>Яким має бути резюме?</h2>

    <p>Структура резюме залежить від позиції та посаду, яка вас зацікавила. Для творчих професій обов&rsquo;язково
        потрібно підготувати портфоліо окремим файлом з вашими попередніми роботами: фото, відео, посиланнями,
        скріншотами тощо.</p>

    <p>Пам&rsquo;ятайте, що резюме &mdash; це, в першу чергу, лаконічна форма подачі. Тому всю інформацію варто вмістити
        в 1-2 сторінки, структурувавши її та виділяючи лише основні факти та навички, які стосуються вашого професійного
        шляху. І не забувайте про грамотність &mdash; деякі правила орфографії та пунктуації краще перевірити в
        Інтернеті, якщо ви не впевнені в написанні.</p>

    <h2>Структура резюме</h2>

    <div class="image-left"><img alt="" src="../static/images/xuqMNFCRxawC.png"
                                 style="height:123px; width:141px"/><span class="image-span">джерело фото / підпис:&nbsp;<br/>
джерело фотоджерело фото джерело фото джерело фото</span></div>

    <p>Резюме має містити такі пункти:&nbsp;</p>

    <p>1. Інформація про вашу освіту, але лише вищі навчальні заклади. Про школу, а тим паче дитячий садок, розповідати
        непотрібно.<br/>
        2. Додаткова освіта: курси, стажування, додаткове навчання. Але лише ті, що стосуються конкретно тієї посади,
        яка вас зацікавила. Необов&rsquo;язково писати про курси зі спортивного танцю, якщо вас цікавить професія
        економіста 🙂&nbsp;<br/>
        3. Досвід роботи. Тут також потрібно описати попередній досвід роботи, який стосується вашої посади. Роботодавцю
        у сфері ІТ не буде цікавим ваш досвід роботи адміністратором магазину або перукарем &mdash; як і навпаки.<br/>
        4. Блок про ваші навички та вміння &mdash; професіональні, особистісні. У цьому пункті можете описати ваші
        лідерські навички, вміння організації, роботи в колективі.<br/>
        5. Фото. Цей пункт необов&rsquo;язковий, але бажаний. Пам&rsquo;ятайте фото має бути в діловому або офіційному
        стилі в хорошій якості. І ще одна деталь &mdash; на фото ви маєте бути одні, без інших людей або яскравих
        деталей на фоні, які можуть відволікати від вашої особистості.</p>

    <div class="image-center"><img alt="" src="../static/images/lIgTzpVBsNFH.png"
                                   style="height:588px; width:742px"/><span class="image-span">джерело фото / підпис:&nbsp;<br/>
джерело фотоджерело фото джерело фото джерело фото</span></div>

    <h2>Що робити, якщо в мене немає досвіду роботи?</h2>

    <p>У такому випадку радимо не засмучуватися &mdash; це нормальна практика, всі ми з чогось починаємо. Додайте до
        вашого резюме мотиваційний лист &mdash; опишіть, чому ви прагнете отримати цю професію, як вона допоможе вам
        реалізуватися та що ви особисто можете принести для компанії.</p>

    <p>Резюме &mdash; ваше перше знайомство з потенційним роботодавцем. А, як відомо, перше враження має залишитися
        максимально приємним та позитивним. Тому ми зібрали для вас основні поради та правила, щоб ваше &laquo;перше
        побачення&raquo; з HR-ом допомогло вам отримати роботу вашої мрії.</p>
</div>
<div id="slider">
    <a th:href="${'/pages/' + prevId}">
        <div class="button prev">
            <span class="small">←</span>
            <span class="big">Попередня стаття&nbsp;←</span>
        </div>
    </a>

    <a th:href="${'/pages/' + nextId}">
        <div class="button next">
            Наступна стаття&nbsp;→
        </div>
    </a>

</div>
<div id="resume-list">
    <div th:each="s, i: ${short}" th:remove="tag">
        <div th:if="${i.count == 1 || i.count == 2}" class="block big">
            <input type="hidden" id="id" name="id" th:value="${s.getId()}">
            <div class="image">
                <img src="">
            </div>
            <div class="body">
                <div th:if="${s.getLabel() == 'Шукачам'}" th:text="${s.getLabel()}" class="label green"></div>
                <div th:if="${s.getLabel() == 'Роботодавцям'}" th:text="${s.getLabel()}" class="label yellow"></div>
                <div th:if="${s.getLabel() == 'Законодавство'}" th:text="${s.getLabel()}" class="label pink"></div>
                <div class="title"><span th:text="${s.getName()}"></span></div>
                <div class="text first" th:utext="${s.getShortBody()}"></div>
            </div>
            <div class="text second" th:utext="${s.getShortBody()}"></div>
        </div>
        <div th:unless="${i.count == 1 || i.count == 2}" class="block">
            <input type="hidden" id="id" name="id" th:value="${s.getId()}">
            <div class="body">
                <div th:if="${s.getLabel() == 'Шукачам'}" th:text="${s.getLabel()}" class="label green"></div>
                <div th:if="${s.getLabel() == 'Роботодавцям'}" th:text="${s.getLabel()}" class="label yellow"></div>
                <div th:if="${s.getLabel() == 'Законодавство'}" th:text="${s.getLabel()}" class="label pink"></div>
                <div class="title"><span th:text="${s.getName()}"></span></div>
                <div class="text" th:utext="${s.getShortBody()}"></div>
            </div>
        </div>
    </div>
</div>
<script src="/script/script.js"></script>
<script src="/script/script-font.js"></script>
</body>
</html>