<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>OnEquals Vacancy</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/reg-1.css">
    <link rel="stylesheet" href="/css/reg-1-1024.css">
    <link rel="stylesheet" href="/css/reg-1-775.css">
    <link rel="stylesheet" href="/css/reg-1-480.css">
    <link rel="stylesheet" href="/css/reg-1-320.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header>
    <th:block sec:authorize="!isAuthenticated()" th:include="block/block-header.html :: header"></th:block>
    <th:block sec:authorize="isAuthenticated()" th:include="block/block-header-autho.html :: header"></th:block>
</header>
<div id="reg2">
    <div class="reg-head">
        <h1>крок 2 / мої вакансії</h1>
    </div>
    <span>поля з зірочкою обов’язкові для заповнення&nbsp<span class="text-red">*</span></span>

    <form id="form-reg-employer" action="/vacancy/new" method="post">
        <label for="vacancy" class="first">
            1. Оберіть вакансію, яка вам потрібна&nbsp<span class="text-red">*</span>
        </label>
        <div class="list" id="categoryList">
            <input autocomplete="off" name="category" id="vacancy" type="text" class="select-label"
                   placeholder="почніть вводити назву">
            <div class="select green" id="vacancy-div">
                <ul>
                    <li th:each="c: ${categories}">
                        <div class="li" th:text="${c.getLongName()}"></div>
                    </li>
                </ul>
            </div>
        </div>

        <label>
            2. Оберіть тип зайнятості&nbsp<span class="text-red">*</span>
        </label>
        <div class="green-choice">
            <input id="type-0" type="radio" name="type" value="Повна" required>
            <label for="type-0">Повна</label>
            <input id="type-1" type="radio" name="type" value="Неповна" required>
            <label for="type-1">Неповна</label>
            <input id="type-2" type="radio" name="type" value="Дистанційна" required>
            <label for="type-2">Дистанційна</label>
            <input id="type-3" type="radio" name="type" value="Часткова" required>
            <label for="type-3">Часткова</label>
            <input id="type-4" type="radio" name="type" value="Проектна" required>
            <label for="type-4">Проектна</label>
        </div>

        <label>
            3. Ваше розташування&nbsp<span class="text-red">*</span>
        </label>

        <div class="country">
            <div class="country-label">
                <label for="country" class="label-inner">
                    <span>Країна</span>
                </label>
                <div class="list" id="countryList">
                    <input autocomplete="off" name="countString" id="country" type="text" class="select-label"
                           placeholder="почніть вводити назву">
                    <div class="select green" id="country-div">
                        <ul>
                            <li th:each="c: ${country}">
                                <div class="li" th:text="${c}"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="country-label">
                <label for="city" class="label-inner">
                    <span>Міста</span>
                </label>
                <div class="list" id="cityList">
                    <input autocomplete="off" name="citString" id="city" type="text" class="select-label"
                           placeholder="почніть вводити назву">
                    <div class="select green" id="city-div">
                        <ul>
                            <li th:each="c: ${city}">
                                <div class="li" th:text="${c.getCity()}"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="accept add green-button">
            <label>
                <input type="button" name="accept0">
                <span>додати країну і місто</span>
            </label>
        </div>

        <label for="story">
            4. Розкажіть про вакантне місце більше (про умови праці у вашій команді, тощо)&nbsp<span
                class="text-red">*</span>
        </label>
        <input id="story" type="text" placeholder="до 1000 знаків" name="description">

        <label for="salary">
            5. Вкажіть зарплату (у гривнях)&nbsp<span class="text-red">*</span>
        </label>
        <input id="salary" type="text" name="salary">
    </form>
</div>
<div id="reg2_sub">
    <div class="submit">
        <div class="add-vacancy">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input id="add-button" type="button" name="add" form="form-reg-employer">
            <label for="add-button">Додати&nbspще вакансію&nbsp+</label>
        </div>
        <div class="add-vacancy-btn">
            <button type="submit" form="form-reg-employer">Зберегти і далі!</button>
            <button form="skip">Пропустити</button>
        </div>
    </div>
    <form id="skip" action="index.html"></form>
</div>


<script src="/script/script-list.js"></script>
<script src="/script/script.js"></script>
</body>
</html>