<th:block th:fragment="header">
    <div class="header__logo big">
        <a href="/">
            <img src="/images/logo.png" alt="logo">
        </a>
    </div>

    <div class="header__logo small">
        <a href="/">
            <img src="/images/logo2.png" alt="logo">
        </a>
    </div>

    <form id="logoutForm" th:action="@{/logout}" method="post"></form>

    <div class="header__panel">
        <div class="header__sign">
            <a href="/profile"><div class="button profile" sec:authentication="principal.name" sec:authorize="!hasAuthority('ADMIN') && !hasRole('ADMIN')"></div></a>
            <a href="/admin/users"><div class="button" sec:authorize="hasAuthority('ADMIN') || hasRole('ADMIN')">Admin Panel</div></a>
            <a href="#" class="formSubmit"><div class="button last">Вийти</div></a>
        </div>
        <div class="header__nav">
            <a href="#" id="menu"><img src="/images/nav.png" alt="menu"></a>
        </div>
    </div>


    <div id="modalMenu">
        <h1 id="x" class="unselectable"><b>&#10005;</b></h1>
        <div class="menu">
            <div class="modal__block">
                <ul>
                    <li>
                        <a href="/about">Про нас</a>
                    </li>
                    <li>
                        <a href="#">Магазин</a>
                    </li>
                    <li>
                        <a href="#">Відео</a>
                    </li>
                </ul>
            </div>
            <div class="modal__block">
                <ul>
                    <li>
                        Журнал
                    </li>
                    <li class="li2 first">
                        <a href="/journal/seeker">Шукачам</a>
                    </li>
                    <li class="li2">
                        <a href="/journal/employer">Роботодавцям</a>
                    </li>
                    <li class="li2">
                        <a href="/journal/legislation">Законодавство</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</th:block>